.categories-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
  }
  
  .categories-titleMain {
    font-size: 1.5rem; /* Adjust font size accordingly */
    font-weight: bold;
    color: gray;
    margin: 0;
  }
  
  .categories-subTitle {
    font-size: 1.5rem; /* Adjust font size accordingly */
    color: blue;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .categories-scrollView {
    display: flex;
    overflow-x: auto;
    padding: 20px 15px;
    gap: 10px;
  }
  
  .categories-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .categories-cardImage {
    width: 80px; /* Equivalent to wp(20) */
    height: 80px; /* Equivalent to wp(20) */
    border-radius: 20px; /* Equivalent to wp(5) */
    object-fit: cover;
  }
  
  .categories-cardTitle {
    font-size: 0.875rem; /* Equivalent to wp(3) */
    font-weight: bold;
    padding-top: 5px;
    margin: 0;
  }
  